#include <windows.h>
#include "recursos.h"

// Icone do aplicativo.
IDI_APPICON ICON                       "appicone.ico"

// Manifesto do aplicativo.
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Application.manifest"

//Tabela de strings
STRINGTABLE
BEGIN
IDS_OLAMUNDO L"Ol\x00E1, mundo!"
IDS_JAVANAOENCONTRADO L"Subsistema Java nN\x00E3o encontrado. Reinstale este aplicativo."
END

// Informacoes de versao do executavel.
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        2,1,100,1
PRODUCTVERSION     2,1,0
FILEFLAGSMASK      0
FILEFLAGS          0
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041604b0"
    BEGIN
      VALUE "CompanyName", "Douglas R. Almeida"
      VALUE "FileDescription", "Carregador do Componente PrismaPDF"
      VALUE "FileVersion", "2.1.100.1"
      VALUE "InternalName", "LOADER"
      VALUE "LegalCopyright", "Programa sem direitos autorais. Uso livre"
      VALUE "OriginalFilename", "loader.exe"
      VALUE "ProductName", "Componente PrismaPDF"
      VALUE "ProductVersion", "2.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0416, 1200
  END
END